.developerModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: white;
  padding: 1em;
}
.developerModal::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
